<a href="https://colab.research.google.com/github/chrismuss04/chrismuss04/blob/main/IF_anomaly_detect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is intended to build an Isolation Forest model to detect anomalies in a service dataset

In [35]:
import pandas as pd

df = pd.read_csv('SampleDataAnomaly.csv', low_memory=False)

In [36]:
print(df.columns)

Index(['customer_name', 'customer360_id', 'customer_type', 'franchise_id',
       'concept_id', 'concept_code', 'franchise_name', 'franchise_state',
       'license_number', 'store_type_id', 'status', 'pos_invoice_id',
       'pos_job_id', 'job_number', 'job_start_date', 'job_completed_date',
       'job_summary', 'invoice_sub_total', 'service_location_address',
       'service_location_city', 'service_location_state', 'country',
       'service_location_zip_postal_code', 'technician_id', 'technician_name',
       'service_name', 'cluster', 'net_sales', 'sales_type', 'terminationdate',
       'franchiseestatus'],
      dtype='object')

In [45]:
filtered_df = df.drop(columns=['customer_name', 'concept_code', 'cluster', 'customer360_id', 'franchise_id', 'concept_id', 'license_number', 'pos_invoice_id', 'pos_job_id', 'job_summary', 'service_location_city', 'service_location_address', 'service_location_state', 'technician_id', 'technician_name'])
# print col:#unique vals for all cols
print(filtered_df.nunique())

customer_type                             2
franchise_name                          283
franchise_state                          50
store_type_id                             2
status                                    2
job_number                          1000448
job_start_date                         1282
job_completed_date                    36000
invoice_sub_total                    192263
country                                   2
service_location_zip_postal_code      85400
service_name                          30100
net_sales                                 0
sales_type                                0
terminationdate                           1
franchiseestatus                          2
dtype: int64